# Project      : SMRITI Retail OS
# Author       : Jawahar Ramkripal Mallah
# Email        : support@smritibooks.com
# Websites     : smritibooks.com | erpnbook.com | aitdl.com
# Version      : 3.16.0
# Created      : 2026-07-12
# Modified     : 2026-07-12
# Copyright    : © SMRITIBooks.com. All Rights Reserved.
# License      : Proprietary Commercial Software

.git
.github
node_modules
dist
backend/.venv
backend/app/tests/.pytest_cache
backend/app/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
.coverage
htmlcov
.env
