# Project      : SMRITI Retail OS
# Organization : SmritiSys
# Author       : Jawahar Ramkripal Mallah
# Copyright    : © SMRITIBooks.com. All Rights Reserved.
# Linux systemd Service Unit for SMRITI Retail OS Production Container Stack

[Unit]
Description=SMRITI Retail OS Enterprise Docker Compose Production Stack
After=docker.service network-online.target
Requires=docker.service

[Service]
Type=simple
WorkingDirectory=/opt/smritiretail
ExecStart=/usr/local/bin/docker-compose -f docker-compose.prod.yml up --remove-orphans
ExecStop=/usr/local/bin/docker-compose -f docker-compose.prod.yml down
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
